# Custom
urls.txt
push_post.py

# Bundler cache
.bundle
vendor
# Gemfile.lock
.vercel/
_site/

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json
package.json

# IDE configurations
.idea
.vscode/
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_javascript/
.vercel
.github/workflows/pages-deploy.yml