
<div id="posts" class="posts-expand">
  {% assign post = page %}
  {% include _macro/post.html %}
  <div class="post-spread">
    {% if site.jiathis %}
      {% include _partials/share/jiathis.html %}
    {% elsif site.baidushare %}
      {% include _partials/share/baidushare.html %}
    {% elsif site.add_this_id %}
      {% include _partials/share/add-this.html %}
    {% elsif site.duoshuo_shortname and site.duoshuo_share %}
      {% include _partials/share/duoshuo_share.html %}
    {% endif %}
	  {% if page.comments %}
  </div>
  <div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
 <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'DDrFLaVPmPSKiXNMnTcmKO07-gzGzoHsz',
            appKey: '5kQM5NK9V8n9aFBO5rjl43TP'
        })
    </script>
{% endif %}
</div>
