<p>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7615326632728696"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-7615326632728696"
     data-ad-slot="2477304429"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>

<blockquote class="prompt-info">
  <p>所有代码已上传至Github：<a href="https://github.com/lihongzheshuai/yummy-code"><strong><em>https://github.com/lihongzheshuai/yummy-code</em></strong></a></p>
  <p>GESP 学习专题站：<a href="https://wiki.coderli.com/"><strong><em>GESP WIKI</em></strong></a></p>
  <p>"<strong><em>luogu-</em></strong>"系列题目可在<a href="https://www.luogu.com.cn/problem/list"><strong><em>洛谷题库</em></strong></a>进行在线评测。</p>
  <p>"<strong><em>bcqm-</em></strong>"系列题目可在<a href="https://bas.ssoier.cn/index.php"><strong><em>编程启蒙题库</em></strong></a>进行在线评测。</p>
</blockquote>

<blockquote class="prompt-tip">
  <p><strong>欢迎加入</strong>：<a href="https://qm.qq.com/q/exuata7kFW"><strong><em>Java、C++、Python技术交流QQ群(982860385)</em></strong></a>，大佬免费带队，有问必答</p>
  <p><strong>欢迎加入</strong>：<a href="https://pd.qq.com/s/1gsdm3gdn"><strong><em>C++ GESP/CSP认证学习QQ频道</em></strong></a>，考试资源总结汇总</p>
  <p><strong>欢迎加入</strong>：<a href="https://qm.qq.com/q/EllqGsKIoM"><strong><em>C++ GESP/CSP学习交流QQ群(688906745)</em></strong></a>，考试认证学员交流，互帮互助</p>
</blockquote>

<div style="text-align: center;">
    <div style="
    font-weight: 600;
    color: steelblue;">GESP/CSP 认证学习微信公众号</div>
    <img src="/images/wechat_qrcode.jpg" alt="GESP/CSP 认证学习微信公众号" title="GESP/CSP 认证学习微信公众号">
</div>